// Article
// =======

.article {
  text-align: left;

  .heading {
    @include font-size(2);
  }

  .paragraph,
  .ordered-list {
    margin-top: units(1);
  }

  .paragraph {
    @include font-size(1);
  }

  .strong {
    font-weight: bold;
  }

  .ordered-list li {
    @include font-size(0);
    list-style: decimal inside;
    margin-top: units(.5);
  }
}
