// Main wrapper
// ============

.main-wrapper {
  margin: columns(1) auto 0;
  width: columns(7);
  padding-bottom: columns(1);
  text-align: center;

  .main-heading {
    @include font-size(5);
  }

  .sub-heading {
    @include font-size(2);
  }

  .article:first-of-type,
  .article + .article {
    margin-top: units(2);
  }
}
