// Typography settings
// ===================


body {
  font-family: 'fira-sans-2', sans-serif;
  font-weight: 600;
}

h1,
h2 {
  font-weight: 400;
}

code {
  font-family: monospace;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
