// Typography settings
// ===================

$regular-text-font: 'freight-display-pro', serif;
$heading-font: 'fira-sans-2', sans-serif;

body {
  font-family: $regular-text-font;
  font-weight: 300;
}

h1,
h2 {
  font-family: $heading-font;
}

code {
  font-family: monospace;
}

input,
select,
textarea,
button {
  font-family: inherit;
}
